
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

a { text-decoration: none; }

body {
  padding: 10px 20px;
}

.navbar {
  border: 1px solid black;
  padding: 4px;
}

.xy-hdr {
  float:right;
  font-size:20px;
  font-weight:bold;
  margin-top:15px;
}

.nav-btn {
  border: 1px solid gray;
  font-weight:bold;
  font-color:blue;
  margin:5px;
}

.router-view {
  width:100%; 
}
